body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#quiz-container {
    width: 1000px;
    text-align: center;
}

#quizText {
    height: 6em;
    text-align: start;
}

#answer {
    max-width: 80%;
    margin: 0 auto;
    text-align: start;
    margin-top: 10px;
    font-size:16px;
}

button {
    margin-top: 10px;
    cursor: pointer;
}
